.container{
    margin-left: 100px;
}
.main{
    margin-top: 50px;
}

body{
    font-family: "Microsoft YaHei UI";
    background-color: #E4E5E6;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul > li{
    width: 100%;
}
a:link, a:visited, a:active {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #5bc0de;
    text-decoration: none;
}

.navbar{
    background-color: #494642;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0 15px;
}
.navbar-right{
    margin-right: 125px;
    font-family: "Microsoft YaHei UI";
    font-size: 25px;
    color: white;
}
.navbar-right > .dropdown-menu > .dropdown-item .btn{
    border: 0px;
    width:100%;
    height:100%;
    text-align: left;
}
.navbar-right > .dropdown-menu > .dropdown-header{
    font-size: 15px;
    background-color: #c7c7c7;
}

/*侧边栏部分*/
.sidebar-menu{
    padding: 0;
    width: 230px;
    height: 100%;
    background-color: #494642;
    color: #000000;
    position: fixed;
}
.sidebar-menu .sidebar-menu-logo{
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
    background-color: #63605C;
}

.sidebar-menu .text{
    font-size: 30px;
    color: #ffffff;
    padding-bottom: 10px;
}

.sidebar-menu .panel-default{
    border: 0px solid;
    border-radius: 0;
    padding: 0;
}

.sidebar-menu .panel-default > .panel-heading{
    padding:0;
    height: 45px;
    width: 100%;
    background-color: #494642;
    border: 0;
    border-radius: 0;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
}
.sidebar-menu .panel-default > .panel-heading > a > .panel-title{
    width: 100%;
    height:100%;
}
.sidebar-menu .panel-default > .panel-heading > a > .panel-title > .text{
    padding-top: 8px;
    font-size: 20px;
}
.sidebar-menu .panel-default > .panel-heading > a{
    text-decoration: none;
    color: #ffffff;
}
.sidebar-menu .panel-default > .panel-heading > a > .panel-title:hover{
    text-decoration: none;
    background-color: #65615c;
}

.sidebar-menu .panel-body{
    padding: 0;
}
.sidebar-menu .sidebar-child{
    background-color: #F6F6F6;
    height: 40px;
    width: 100%;
    border: 0;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    font-size: 18px;
    text-align:center;
}
.sidebar-menu .sidebar-child:hover, .panel-body > ul > li > a.on{
    background-color: #cecece;
    border-right: 3px solid #985f0d;
}


.mainbody{
    height:100%;
    padding: 0;
    margin-top: 0px;
    margin-left: 240px;
}

.jumbotron{
    background-color: #E4E5E6;
}

.main{
}
.main > h1{
    text-align: center;
    margin-bottom: 25px;
}
#MyTab{
}
#MyTab li{
    width:160px;
}
#MyTab li a{
    font-size: 15px;
    font-family: "Microsoft YaHei";
}

#MyTab>li.active>a, #MyTab>li.active>a:focus, #MyTab>li.active>a:hover{
    border: 1px solid transparent;
}

#MyTab li a:hover{
    color: #000000;
}

#myTabContent{
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 10px;
    padding-right: 35px;
    border-top-left-radius: 0;
}