<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.examen.mapper.paper.PaperMapper" >
    <resultMap id="BaseResultMap" type="cn.examen.domain.paper.Paper" >
        <id column="paperId" property="paperId" jdbcType="VARCHAR" />
        <result column="userId" property="userId" jdbcType="VARCHAR" />
        <result column="userRealname" property="userRealname" jdbcType="VARCHAR" />
        <result column="collId" property="collId" jdbcType="VARCHAR" />
        <result column="majorId" property="majorId" jdbcType="VARCHAR" />
        <result column="courseId" property="courseId" jdbcType="VARCHAR" />
        <result column="courseName" property="courseName" jdbcType="VARCHAR" />
        <result column="choiceScore" property="choiceScore" jdbcType="INTEGER" />
        <result column="fillinScore" property="fillinScore" jdbcType="INTEGER" />
        <result column="essayScore" property="essayScore" jdbcType="INTEGER" />
        <result column="discussScore" property="discussScore" jdbcType="INTEGER" />
        <result column="paperType" property="paperType" jdbcType="VARCHAR" />
        <result column="useClasses" property="useClasses" jdbcType="VARCHAR" />
        <result column="useTerm" property="useTerm" jdbcType="VARCHAR" />
        <result column="fromYear" property="fromYear" jdbcType="INTEGER" />
        <result column="toYear" property="toYear" jdbcType="INTEGER" />
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
        <result column="vetted" property="vetted" jdbcType="INTEGER" />
        <result column="assessorId" property="assessorId" jdbcType="VARCHAR" />
        <result column="assessorName" property="assessorName" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        paperId, userId, userRealname, collId, majorId, courseId, courseName, choiceScore, fillinScore,
        essayScore, discussScore, paperType, useClasses, useTerm, fromYear, toYear, createtime, vetted, assessorId,
        assessorName
      </sql>

    <insert id="insert" parameterType="cn.examen.domain.paper.Paper" >
        insert into paper
        <trim prefix="(" suffix=")" suffixOverrides="," >
            paperId, userId,
            <if test="userRealname != null" >userRealname,</if>
            <if test="collId != null" >collId,</if>
            <if test="majorId != null" >majorId,</if>
            courseId,
            <if test="courseName != null" >courseName,</if>
            <if test="choiceScore != null" >choiceScore,</if>
            <if test="fillinScore != null" >fillinScore,</if>
            <if test="essayScore != null" >essayScore,</if>
            <if test="discussScore != null" >discussScore,</if>
            <if test="paperType != null" >paperType,</if>
            <if test="useClasses != null" >useClasses,</if>
            <if test="useTerm != null" >useTerm,</if>
            <if test="fromYear != null" >fromYear,</if>
            <if test="toYear != null" >toYear,</if>
            createtime, vetted,
            <if test="assessorId != null" >assessorId,</if>
            <if test="assessorName != null" >assessorName,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{paperId}, #{userId},
            <if test="userRealname != null" >#{userRealname},</if>
            <if test="collId != null" >#{collId},</if>
            <if test="majorId != null" >#{majorId},</if>
            #{courseId},
            <if test="courseName != null" >#{courseName},</if>
            <if test="choiceScore != null" >#{choiceScore},</if>
            <if test="fillinScore != null" >#{fillinScore},</if>
            <if test="essayScore != null" >#{essayScore},</if>
            <if test="discussScore != null" >#{discussScore},
            </if>
            <if test="paperType != null" >#{paperType},</if>
            <if test="useClasses != null" >#{useClasses},</if>
            <if test="useTerm != null" >#{useTerm},</if>
            <if test="fromYear != null" >#{fromYear},</if>
            <if test="toYear != null" >#{toYear},</if>
            #{createtime}, #{vetted},
            <if test="assessorId != null" >#{assessorId},</if>
            <if test="assessorName != null" >#{assessorName},</if>
        </trim>
    </insert>

    <delete id="deleteById" parameterType="java.lang.String" >
        delete from paper
        where paperId = #{paperId}
      </delete>

    <delete id="deleteByIds" parameterType="java.util.List" >
        delete from paper
        where paperId in
        <foreach collection="list" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>

    <delete id="deleteByCondition">
        delete from paper
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="paperId!=null">
                paperId = #{paperId}
            </if>
            <if test="userId!=null">
                AND userId = #{userId}
            </if>
            <if test="userRealname!=null">
                AND userRealname = #{userRealname}
            </if>
        </trim>
    </delete>

    <update id="update" parameterType="cn.examen.domain.paper.Paper" >
        update paper
        <set >
            <if test="userId != null" >userId = #{userId},</if>
            <if test="userRealname != null" >userRealname = #{userRealname},</if>
            <if test="collId != null" >collId = #{collId},</if>
            <if test="majorId != null" >majorId = #{majorId},</if>
            <if test="courseId != null" >courseId = #{courseId},</if>
            <if test="courseName != null" >courseName = #{courseName},</if>
            <if test="choiceScore != null" >choiceScore = #{choiceScore},</if>
            <if test="fillinScore != null" >fillinScore = #{fillinScore},</if>
            <if test="essayScore != null" >essayScore = #{essayScore},</if>
            <if test="discussScore != null" >discussScore = #{discussScore},</if>
            <if test="paperType != null" >paperType = #{paperType},</if>
            <if test="useClasses != null" >useClasses = #{useClasses},</if>
            <if test="useTerm != null" >useTerm = #{useTerm},</if>
            <if test="fromYear != null" >fromYear = #{fromYear},</if>
            <if test="toYear != null" >toYear = #{toYear},</if>
            <if test="createtime != null" >createtime = #{createtime,jdbcType=TIMESTAMP},</if>
            <if test="vetted != null" >vetted = #{vetted},</if>
            <if test="assessorId != null" >assessorId = #{assessorId},</if>
            <if test="assessorName != null" >assessorName = #{assessorName},</if>
        </set>
        where paperId = #{paperId}
    </update>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from paper
        WHERE paperId = #{id}
    </select>

    <select id="findList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from paper
        WHERE ${property} = #{value}
        <if test="orderBy!=null">
            ORDER BY ${orderBy} ${sortBy}
        </if>
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from paper
        <if test="orderBy!=null">
            ORDER BY ${orderBy} ${sortBy}
        </if>
    </select>

    <select id="queryList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from paper
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="condition.userId != null" >
                userId = #{condition.userId}
            </if>
            <if test="condition.userRealname != null" >
                AND userRealname = #{condition.userRealname}
            </if>
            <if test="condition.collId != null" >
                AND collId = #{condition.collId}
            </if>
            <if test="condition.majorId != null" >
                AND majorId = #{condition.majorId}
            </if>
            <if test="condition.courseId != null" >
                AND courseId = #{condition.courseId}
            </if>
            <if test="condition.courseName != null" >
                AND courseName = #{condition.courseName}
            </if>
            <if test="condition.paperType != null" >
                AND paperType = #{condition.paperType}
            </if>
            <if test="condition.useClasses != null" >
                AND useClasses = #{condition.useClasses}
            </if>
            <if test="condition.useTerm != null" >
                AND useTerm = #{condition.useTerm}
            </if>
            <if test="condition.fromYear != null" >
                AND fromYear = #{condition.fromYear}
            </if>
            <if test="condition.toYear != null" >
                AND toYear = #{condition.toYear}
            </if>
            <if test="condition.createtime != null" >
                AND createtime = #{condition.createtime}
            </if>
            <if test="condition.vetted != null" >
                AND vetted = #{condition.vetted}
            </if>
            <if test="condition.assessorId != null" >
                AND assessorId = #{condition.assessorId}
            </if>
            <if test="condition.assessorName != null" >
                AND assessorName = #{condition.assessorName}
            </if>
        </trim>
        <if test="orderBy!=null">
            ORDER BY ${orderBy} ${sortBy}
        </if>
    </select>

    <select id="count" parameterType="cn.examen.domain.paper.Paper" resultType="java.lang.Integer">
        select count(1)
        from paper
        <trim prefix="WHERE" prefixOverrides="OR|AND">
            <if test="paperId!=null">paperId = #{paperId}</if>
            <if test="userId != null" >AND userId = #{userId}</if>
            <if test="userRealname != null" >AND userRealname = #{userRealname}</if>
            <if test="collId != null" >AND collId = #{collId}</if>
            <if test="majorId != null" >AND majorId = #{majorId}</if>
            <if test="courseId != null" >AND courseId = #{courseId}</if>
            <if test="courseName != null" >AND courseName = #{courseName}</if>
            <if test="choiceScore != null" >AND choiceScore = #{choiceScore}</if>
            <if test="fillinScore != null" >AND fillinScore = #{fillinScore}</if>
            <if test="essayScore != null" >AND essayScore = #{essayScore}</if>
            <if test="discussScore != null" >AND discussScore = #{discussScore}</if>
            <if test="paperType != null" >AND paperType = #{paperType}</if>
            <if test="useClasses != null" >AND useClasses = #{useClasses}</if>
            <if test="useTerm != null" >AND useTerm = #{useTerm}</if>
            <if test="fromYear != null" >AND fromYear = #{fromYear}</if>
            <if test="toYear != null" >AND toYear = #{toYear}</if>
            <if test="createtime != null" >AND createtime = #{createtimejdbcType=TIMESTAMP}</if>
            <if test="vetted != null" >AND vetted = #{vetted}</if>
            <if test="assessorId != null" >AND assessorId = #{assessorId}</if>
            <if test="assessorName != null" >AND assessorName = #{assessorName}</if>
        </trim>
    </select>

    <select id="queryPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from paper
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="condition.userId != null" >
                userId = #{condition.userId}
            </if>
            <if test="condition.userRealname != null" >
                AND userRealname = #{condition.userRealname}
            </if>
            <if test="condition.collId != null" >
                AND collId = #{condition.collId}
            </if>
            <if test="condition.majorId != null" >
                AND majorId = #{condition.majorId}
            </if>
            <if test="condition.courseId != null" >
                AND courseId = #{condition.courseId}
            </if>
            <if test="condition.courseName != null" >
                AND courseName = #{condition.courseName}
            </if>
            <if test="condition.paperType != null" >
                AND paperType = #{condition.paperType}
            </if>
            <if test="condition.useClasses != null" >
                AND useClasses = #{condition.useClasses}
            </if>
            <if test="condition.useTerm != null" >
                AND useTerm = #{condition.useTerm}
            </if>
            <if test="condition.fromYear != null" >
                AND fromYear = #{condition.fromYear}
            </if>
            <if test="condition.toYear != null" >
                AND toYear = #{condition.toYear}
            </if>
            <if test="condition.createtime != null" >
                AND createtime = #{condition.createtime}
            </if>
            <if test="condition.vetted != null" >
                AND vetted = #{condition.vetted}
            </if>
            <if test="condition.assessorId != null" >
                AND assessorId = #{condition.assessorId}
            </if>
            <if test="condition.assessorName != null" >
                AND assessorName = #{condition.assessorName}
            </if>
        </trim>
        <if test="orderBy!=null">
            ORDER BY ${orderBy} ${sortBy}
        </if>
        <if test="offset!=null">
            limit ${offset}, ${rows}
        </if>
    </select>

    <select id="countLike" parameterType="cn.examen.domain.paper.Paper" resultType="java.lang.Integer">
        select count(1)
        from paper
        <trim prefix="WHERE" prefixOverrides="OR|AND">
            <if test="paperId!=null">
                paperId like CONCAT('%', #{paperId} , '%')
            </if>
            <if test="userId != null" >
                AND userId like CONCAT('%', #{userId} , '%')
            </if>
            <if test="userRealname != null" >
                AND userRealname like CONCAT('%', #{userRealname} , '%')
            </if>
            <if test="collId != null" >
                AND collId like CONCAT('%', #{collId} , '%')
            </if>
            <if test="majorId != null" >
                AND majorId like CONCAT('%', #{majorId} , '%')
            </if>
            <if test="courseId != null" >
                AND courseId like CONCAT('%', #{courseId} , '%')
            </if>
            <if test="courseName != null" >
                AND courseName like CONCAT('%', #{courseName} , '%')
            </if>
            <if test="paperType != null" >
                AND paperType = #{paperType}
            </if>
            <if test="useClasses != null" >
                AND useClasses like CONCAT('%', #{useClasses} , '%')
            </if>
            <if test="useTerm != null" >
                AND useTerm = #{useTerm}
            </if>
            <if test="fromYear != null" >
                AND fromYear = #{fromYear}
            </if>
            <if test="toYear != null" >
                AND toYear = #{toYear}
            </if>
            <if test="createtime != null" >
                AND createtime = #{createtime}
            </if>
            <if test="vetted != null" >
                AND vetted = #{vetted}
            </if>
            <if test="assessorId != null" >
                AND assessorId like CONCAT('%', #{assessorId} , '%')
            </if>
            <if test="assessorName != null" >
                AND assessorName like CONCAT('%', #{assessorName} , '%')
            </if>
        </trim>
    </select>

    <select id="like" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from paper
        <trim prefix="WHERE" prefixOverrides="OR|AND">
            <if test="condition.paperId!=null">
                paperId like CONCAT('%', #{condition.paperId} , '%')
            </if>
            <if test="condition.userId != null" >
                AND userId like CONCAT('%', #{condition.userId} , '%')
            </if>
            <if test="condition.userRealname != null" >
                AND userRealname like CONCAT('%', #{condition.userRealname} , '%')
            </if>
            <if test="condition.collId != null" >
                AND collId like CONCAT('%', #{condition.collId} , '%')
            </if>
            <if test="condition.majorId != null" >
                AND majorId like CONCAT('%', #{condition.majorId} , '%')
            </if>
            <if test="condition.courseId != null" >
                AND courseId like CONCAT('%', #{condition.courseId} , '%')
            </if>
            <if test="condition.courseName != null" >
                AND courseName like CONCAT('%', #{condition.courseName} , '%')
            </if>
            <if test="condition.paperType != null" >
                AND paperType = #{condition.paperType}
            </if>
            <if test="condition.useClasses != null" >
                AND useClasses like CONCAT('%', #{condition.useClasses} , '%')
            </if>
            <if test="condition.useTerm != null" >
                AND useTerm = #{condition.useTerm}
            </if>
            <if test="condition.fromYear != null" >
                AND fromYear = #{condition.fromYear}
            </if>
            <if test="condition.toYear != null" >
                AND toYear = #{condition.toYear}
            </if>
            <if test="condition.createtime != null" >
                AND createtime = #{condition.createtime}
            </if>
            <if test="condition.vetted != null" >
                AND vetted = #{condition.vetted}
            </if>
            <if test="condition.assessorId != null" >
                AND assessorId like CONCAT('%', #{condition.assessorId} , '%')
            </if>
            <if test="condition.assessorName != null" >
                AND assessorName like CONCAT('%', #{condition.assessorName} , '%')
            </if>
        </trim>
        <if test="orderBy!=null">
            ORDER BY ${orderBy} ${sortBy}
        </if>
        <if test="offset!=null">
            limit ${offset}, ${rows}
        </if>
    </select>

</mapper>