<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.examen.mapper.paper.PaperEssayMapper" >
  <resultMap id="BaseResultMap" type="cn.examen.domain.paper.PaperEssay" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="paperId" property="paperId" jdbcType="VARCHAR" />
    <result column="essayId" property="essayId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, paperId, essayId
  </sql>

  <insert id="insert" parameterType="cn.examen.domain.paper.PaperEssay" >
    insert into paper_essay (paperId, essayId)
    values (#{paperId}, #{essayId})
  </insert>

  <delete id="deleteById" parameterType="cn.examen.domain.paper.PaperEssay" >
    delete from paper_essay
    WHERE id = #{id}
  </delete>

  <delete id="deleteByIds" parameterType="java.util.List">
    delete from paper_essay
    WHERE id in
    <foreach collection="list" item="id" open="(" separator="," close=")">#{id}</foreach>
  </delete>

  <delete id="deleteByProperty">
    delete from paper_essay
    WHERE ${property} = #{value}
  </delete>

  <delete id="deleteByCondition" parameterType="java.util.Map">
    delete from paper_essay
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="id!=null">
        id = #{id}
      </if>
      <if test="paperId!=null">
        AND paperId = #{paperId}
      </if>
      <if test="essayId!=null">
        AND essayId = #{essayId}
      </if>
    </trim>
  </delete>

  <update id="update" parameterType="cn.examen.domain.paper.PaperEssay" >
    update paper_essay
    <trim prefix="SET" suffixOverrides=",">
      <if test="paperId!=null">
        paperId = #{paperId},
      </if>
      <if test="essayId!=null">
        essayId = #{essayId},
      </if>
    </trim>
    where id = #{id}
  </update>

  <select id="findOne" resultMap="BaseResultMap" parameterType="cn.examen.domain.paper.PaperEssay" >
    select
    <include refid="Base_Column_List" />
    from paper_essay
    <trim prefix="WHERE" prefixOverrides="OR|AND">
      <if test="id != null" >
        id = #{id}
      </if>
      <if test="paperId!=null and essayId!=null" >
        AND paperId = #{paperId}
        AND essayId = #{essayId}
      </if>
    </trim>
    limit 0,1
  </select>

  <select id="findList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from paper_essay
    WHERE ${property} = #{value}
  </select>

</mapper>