#mainbody {
	position: relative;  
	padding: 3% 10%;
	padding-bottom: 20px;
	background-color: rgba(50, 50, 50, 0.6);
}

#mainbody .text{
	font-size: 24px; 
	font-weight: 600; 
	text-align: center;
}

.paper-table{
	background-color: #fff;
	border-color: rgba(50, 50, 50, 0.6);
	font-size:24px;
	text-align:center;
	padding-top:0px;
}

.paper-table td{
	word-break:break-all;
}
.paper-id{
	font-size:18px;
}
.btn-group2 {
	padding-left:40%;
}

.btn-group2 .btn{
	color:#FFF;
	width: 30%;
	height: 50px;
	font: 20px/1.5 Arial, 'Droid Sans', 'Hiragino Sans GB','Microsoft YaHei';
}


/**/
.btn{
	margin-right:10px;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #22B8DD;
}
th{
	text-align: center;
}