<component name="libraryTable">
  <library name="Spring Web">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/web/WEB-INF/lib/Spring Web" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/web/WEB-INF/lib/Spring Web" recursive="false" />
  </library>
</component>