<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.examen.mapper.course.CollegeMapper" >
  <resultMap id="BaseResultMap" type="cn.examen.domain.course.College" >
    <id column="collId" property="collId" jdbcType="VARCHAR" />
    <result column="collName" property="collName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    collId, collName
  </sql>

  <insert id="insert" parameterType="cn.examen.domain.course.College" >
    insert into college (collId, collName)
    values (#{collId}, #{collName})
  </insert>

  <delete id="deleteById" parameterType="java.lang.String" >
    delete from college
    WHERE collId = #{collId}
  </delete>

  <delete id="deleteByIds" parameterType="java.util.List">
    delete from college
    WHERE collId in
    <foreach collection="list" item="id" open="(" separator="," close=")">#{id}</foreach>
  </delete>

  <delete id="deleteByProperty">
    delete from college
    WHERE ${property} = #{value}
  </delete>

  <update id="update" parameterType="cn.examen.domain.course.College" >
    update college
    set collName = #{collName}
    where collId = #{collId}
  </update>

  <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from college
    WHERE collId = #{id}
  </select>

  <select id="findOne" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from college
    WHERE ${property} = #{value}
    limit 0,1
  </select>

  <select id="findList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from college
        WHERE ${property} = #{value}
    </select>

  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from college
    <if test="orderBy!=null">
    ORDER BY ${orderBy} ${sortBy}
    </if>
  </select>
</mapper>