<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.examen.mapper.question.FillinMapper" >
    <resultMap id="BaseResultMap" type="cn.examen.domain.question.Fillin" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="courseId" property="courseId" jdbcType="VARCHAR" />
    <result column="courseName" property="courseName" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="CLOB" />
    <result column="correctionFill" property="correctionFill" jdbcType="VARCHAR" />
    <result column="section" property="section" jdbcType="VARCHAR" />
    <result column="diff" property="diff" jdbcType="INTEGER" />
    <result column="imagepath" property="imagepath" jdbcType="VARCHAR" />
  </resultMap>
    <sql id="Base_Column_List" >
    id, courseId, courseName, content, correctionFill, `section`, diff, imagepath
    </sql>

    <insert id="insert" parameterType="cn.examen.domain.question.Fillin" >
    insert into fillin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      courseId,
      courseName,
      content,
      <if test="correctionFill != null" >
        correctionFill,
      </if>
      `section`,
      diff,
      <if test="imagepath != null" >
        imagepath,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id},
      #{courseId},
      #{courseName},
      #{content},
      <if test="correctionFill != null" >
        correctionFill,
      </if>
      #{section},
      #{diff},
      <if test="imagepath != null" >
        #{imagepath},
      </if>
    </trim>
    </insert>

    <delete id="deleteById" parameterType="java.lang.String" >
    delete from fillin
    where id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="java.util.List" >
    delete from fillin
    where id in
    <foreach collection="list" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>

    <update id="update" parameterType="cn.examen.domain.question.Fillin" >
    update fillin
    <set>
      <if test="courseId != null" >
        courseId = #{courseId},
      </if>
      <if test="courseName != null" >
        courseName = #{courseName},
      </if>
      <if test="content != null" >
        content = #{content},
      </if>
      <if test="correctionFill != null" >
        correctionFill = #{correctionFill},
      </if>
      <if test="section != null" >
        `section` = #{section},
      </if>
      <if test="diff != null" >
        diff = #{diff},
      </if>
      <if test="imagepath != null" >
        imagepath = #{imagepath},
      </if>
    </set>
    where id = #{id}
    </update>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from fillin
    WHERE id = #{id}
    </select>

    <select id="findList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from fillin
    WHERE ${property} = #{value}
    <if test="orderBy!=null">
      ORDER BY ${orderBy} ${sortBy}
    </if>
    </select>

    <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from fillin
    <if test="orderBy!=null">
      ORDER BY ${orderBy} ${sortBy}
    </if>
    </select>

    <select id="queryList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from fillin
    <trim prefix="WHERE" prefixOverrides="OR|AND">
      <if test="condition.id!=null">
        id = #{condition.id}
      </if>
      <if test="condition.courseId!=null">
        AND courseId = #{condition.courseId}
      </if>
      <if test="condition.courseName!=null">
        AND courseName = #{condition.courseName}
      </if>
      <if test="condition.content!=null">
        AND content = #{condition.content}
      </if>
      <if test="condition.correctionFill != null" >
        AND correctionFill = #{condition.correctionFill}
      </if>
      <if test="condition.section!=null">
        AND `section` = #{condition.section}
      </if>
      <if test="condition.diff!=null">
        AND diff = #{condition.diff}
      </if>
      <if test="condition.rightAnswer!=null">
        AND imagepath = #{condition.imagepath}
      </if>
    </trim>
    <if test="orderBy!=null">
      ORDER BY ${orderBy} ${sortBy}
    </if>
    </select>

    <select id="count" parameterType="cn.examen.domain.question.Fillin" resultType="java.lang.Integer">
        select count(1)
        from fillin
        <trim prefix="WHERE" prefixOverrides="OR|AND">
            <if test="id!=null">id = #{id}</if>
            <if test="courseId!=null">AND courseId = #{courseId}</if>
            <if test="courseName!=null">AND courseName = #{courseName}</if>
            <if test="content!=null">AND content = #{content}</if>
            <if test="section!=null">AND `section` = #{section}</if>
            <if test="diff!=null">AND diff = #{diff}</if>
            <if test="imagepath!=null">AND imagepath = #{imagepath}</if>
        </trim>
    </select>

    <select id="queryPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from fillin
    <trim prefix="WHERE" prefixOverrides="OR|AND">
      <if test="condition.id!=null">
        id = #{condition.id}
      </if>
      <if test="condition.courseId!=null">
        AND courseId = #{condition.courseId}
      </if>
      <if test="condition.courseName!=null">
        AND courseName = #{condition.courseName}
      </if>
      <if test="condition.content!=null">
        AND content = #{condition.content}
      </if>
      <if test="condition.correctionFill != null" >
        AND correctionFill = #{condition.correctionFill}
      </if>
      <if test="condition.section!=null">
        AND `section` = #{condition.section}
      </if>
      <if test="condition.diff!=null">
        AND diff = #{condition.diff}
      </if>
      <if test="condition.rightAnswer!=null">
        AND imagepath = #{condition.imagepath}
      </if>
    </trim>
    <if test="orderBy!=null">
      ORDER BY ${orderBy} ${sortBy}
    </if>
    <if test="offset!=null">
      limit ${offset}, ${rows}
    </if>
    </select>

    <select id="countLike" parameterType="cn.examen.domain.question.Fillin" resultType="java.lang.Integer">
        select count(1)
        from fillin
        <trim prefix="WHERE" prefixOverrides="OR|AND">
            <if test="id!=null">
                id like CONCAT('%', #{id} , '%')
            </if>
            <if test="courseId!=null">
                AND courseId like CONCAT('%', #{courseId} , '%')
            </if>
            <if test="courseName!=null">
                AND courseName like CONCAT('%', #{courseName} , '%')
            </if>
            <if test="content!=null">
                AND content like CONCAT('%', #{content} , '%')
            </if>
            <if test="section!=null">
                AND `section` like CONCAT('%', #{section} , '%')
            </if>
            <if test="diff!=null">
                AND diff = #{diff}
            </if>
            <if test="imagepath!=null">
                AND imagepath like CONCAT('%', #{imagepath} , '%')
            </if>
        </trim>
    </select>

    <select id="like" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from fillin
    <trim prefix="WHERE" prefixOverrides="OR|AND">
      <if test="condition.id!=null">
        id like CONCAT('%', #{condition.id} , '%')
      </if>
      <if test="condition.courseId!=null">
        AND courseId like CONCAT('%', #{condition.courseId} , '%')
      </if>
      <if test="condition.courseName!=null">
        AND courseName like CONCAT('%', #{condition.courseName} , '%')
      </if>
      <if test="condition.content!=null">
        AND content like CONCAT('%', #{condition.content} , '%')
      </if>
      <if test="condition.correctionFill != null" >
        AND correctionFill like CONCAT('%',  #{condition.correctionFill} , '%')
      </if>
      <if test="condition.section!=null">
        AND `section` like CONCAT('%', #{condition.section} , '%')
      </if>
      <if test="condition.diff!=null">
        AND diff = #{condition.diff}
      </if>
    </trim>
    <if test="orderBy!=null">
      ORDER BY ${orderBy} ${sortBy}
    </if>
    <if test="offset!=null">
      limit ${offset}, ${rows}
    </if>
    </select>

</mapper>