<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.examen.mapper.user.UserMapper" >
    <resultMap id="BaseResultMap" type="cn.examen.domain.user.User" >
    <id column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="userType" property="userType" jdbcType="INTEGER" />
    <result column="collId" property="collId" jdbcType="VARCHAR" />
    <result column="loginTime" property="loginTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
    userId, realname, username, password, phone, userType, collId, loginTime
    </sql>

    <insert id="insert" parameterType="cn.examen.domain.user.User" >
    insert into user (userId, realname, username,password, phone, userType, collId, loginTime)
    values (#{userId}, #{realname}, #{username},#{password}, #{phone}, #{userType}, #{collId}, #{loginTime})
    </insert>

    <delete id="deleteById" parameterType="java.lang.String" >
    delete from user
    where userId = #{userId}
    </delete>

    <delete id="deleteByIds" parameterType="java.lang.String" >
    delete from user
    where userId in
    <foreach collection="list" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>

    <delete id="deleteByProperty">
    delete from user
    WHERE ${property} = #{value}
    </delete>

    <delete id="deleteByCondition" parameterType="java.util.Map">
    delete from user
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="userId!=null">
        userId = #{userId}
      </if>
      <if test="username!=null and password!=null">
        AND username = #{username}
        AND password = #{password}
      </if>
      <if test="phone!=null">
        AND phone = #{phone}
      </if>
    </trim>
    </delete>

    <update id="update" parameterType="cn.examen.domain.user.User" >
    update user
    <set >
      <if test="realname != null" >
        realname = #{realname},
      </if>
      <if test="username != null" >
        username = #{username},
      </if>
      <if test="password != null" >
        password = #{password},
      </if>
      <if test="phone != null" >
        phone = #{phone},
      </if>
      <if test="userType != null" >
        userType = #{userType},
      </if>
      <if test="collId != null" >
        collId = #{collId},
      </if>
      <if test="loginTime != null" >
        loginTime = #{loginTime},
      </if>
    </set>
    where userId = #{userId}
    </update>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user
    WHERE userId = #{userId}
    </select>

    <select id="findOne" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user
    WHERE ${property} = #{value}
    limit 0,1
    </select>

    <select id="findList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user
    WHERE ${property} = #{value}
    <if test="orderBy!=null">
      ORDER BY ${orderBy} ${sortBy}
    </if>
    </select>

    <select id="findAll" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user
    <if test="orderBy!=null">
      ORDER BY ${orderBy} ${sortBy}
    </if>
    </select>

    <select id="count"  resultType="java.lang.Integer" parameterType="cn.examen.domain.user.User" >
        select COUNT(1)
        from user
        <trim prefix="WHERE" prefixOverrides="OR|AND">
          <if test="userId!=null">userId = #{userId}</if>
          <if test="realname!=null">and realname = #{realname}</if>
          <if test="username!=null">and username = #{username}</if>
          <if test="phone!=null">and phone = #{phone}</if>
          <if test="userType!=null">and userType = #{userType}</if>
          <if test="collId!=null">and collId = #{collId}</if>
        </trim>
    </select>

    <select id="queryPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    <trim prefix="WHERE" prefixOverrides="OR|AND">
      <if test="condition.userId!=null">
          userId = #{condition.userId}
      </if>
      <if test="condition.realname!=null">
        AND realname = #{condition.realname}
      </if>
      <if test="condition.phone!=null">
        AND phone = #{condition.phone}
      </if>
      <if test="condition.userType!=null">
        AND userType = #{condition.userType}
      </if>
      <if test="condition.collId!=null">
        AND collId = #{condition.collId}
      </if>
    </trim>
    <if test="orderBy!=null">
      ORDER BY ${orderBy} ${sortBy}
    </if>
    <if test="offset!=null">
      limit ${offset}, ${rows}
    </if>
    </select>

    <select id="countLike"  resultType="java.lang.Integer" parameterType="cn.examen.domain.user.User" >
        select COUNT(1)
        from user
        <trim prefix="WHERE" prefixOverrides="OR|AND">
            <if test="userId!=null">
                userId like CONCAT('%', #{userId} , '%')
            </if>
            <if test="realname!=null">
                and realname like CONCAT('%', #{realname} , '%')
            </if>
            <if test="username!=null">
                and username like CONCAT('%', #{username} , '%')
            </if>
            <if test="phone!=null">
                and phone like CONCAT('%', #{phone} , '%')
            </if>
            <if test="userType!=null">
                and userType = #{userType}
            </if>
            <if test="collId!=null">
                and collId like CONCAT('%', #{collId} , '%')
            </if>
        </trim>
    </select>

    <select id="like" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        <trim prefix="WHERE" prefixOverrides="OR|AND">
            <if test="condition.userId!=null">
                userId = #{condition.userId}
            </if>
            <if test="condition.realname!=null">
                AND realname = #{condition.realname}
            </if>
            <if test="condition.phone!=null">
                AND phone = #{condition.phone}
            </if>
            <if test="condition.userType!=null">
                AND userType = #{condition.userType}
            </if>
            <if test="condition.collId!=null">
                AND collId = #{condition.collId}
            </if>
        </trim>
        <if test="orderBy!=null">
            ORDER BY ${orderBy} ${sortBy}
        </if>
        <if test="offset!=null">
            limit ${offset}, ${rows}
        </if>
    </select>
</mapper>